body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #012169;
  color: white;
}

html { 
  font-size: calc(1em + 0.1vw) !important;
  scroll-behavior: smooth;
}

.button-container {
  border-top: 1px solid white;
  cursor: pointer;
  padding-top: 10px;
}

.button-container:hover {
  /* color: #5b92ff; */
  color: gray;
  cursor: pointer;
}

#dukeLogo {
  height: 3rem;
  margin-right: 1rem;
}

.sm-icon {
  color: white;
  font-size: '3em'
}

@font-face {
  font-family: 'Factoria';
  src: local('Factoria'), url('./fonts/FactoriaUltra.otf');
}

#dukeLogoText {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  /* font-weight: 500; */
}

.bold-cap {
  font-weight: '900'
}

.small-cap {
  font-size: '50%'
}

svg {
  display: inline-block;
  vertical-align: middle;
}