body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #012169;
  color: white;
}

html { 
  font-size: calc(1em + 0.1vw) !important;
  scroll-behavior: smooth;
}

.button-container {
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
}

#dukeLogo {
  height: 3rem;
  margin-right: 1rem;
}

.sm-icon {
  color: white;
  font-size: '3em'
}

@font-face {
  font-family: "Factoria-Bold";
  src: url("./fonts/FactoriaBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/FactoriaBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/FactoriaBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/FactoriaBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/FactoriaBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/FactoriaBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.bold-cap {
  font-weight: '900'
}

.small-cap {
  font-size: '50%'
}

svg {
  display: inline-block;
  vertical-align: middle;
}

#outerContainer {
  padding-left: 0;
  padding-right: 0;
}

.sectionContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 600px) {
  .sectionContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#stateInfoContainer {
  padding-top: 3rem;
}

#shareContainer {
  padding-top: 4rem;
}

#mainTextContainer,
#shareContainer {
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  #state-select {
    font-size: 2em;
  }
}

@media (max-width: 960px) {
  #state-select {
    font-size: 2.5em;
  }
}