body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #00539B;
  color: white;
}

html { font-size: calc(1em + 0.1vw) !important}

.button-container {
  border-top: 1px solid white;
  cursor: pointer;
}

.button-container:hover {
  color: #5b92ff;
  cursor: pointer;
}

#dukeLogo {
  height: 1rem;
  margin-right: 2rem;
}

.sm-icon {
  color: white;
}

@font-face {
  font-family: 'Factoria';
  src: local('Factoria'), url('./fonts/FactoriaUltra.otf');
}

.bold-cap {
  font-weight: '900'
}

.small-cap {
  font-size: '50%'
}