<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
 <webSocket enabled="false" />
 <handlers>
    <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
  </handlers>
 <rewrite>
  <rules>
    <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="iisnode.+" negate="true" />
      <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
      <action type="Rewrite" url="app.js" />
    </rule>
    <!-- <rule name="React Routes">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
        <add input="{REQUEST_URI}" pattern="/api" negate="True" />
      </conditions>
      <action type="Rewrite" url="static/" />
    </rule> -->
  </rules>
 </rewrite>
 <security>
    <requestFiltering>
      <hiddenSegments>
        <remove segment="bin"/>
      </hiddenSegments>
    </requestFiltering>
  </security>
  <httpErrors existingResponse="PassThrough" />
 </system.webServer>
</configuration>

